* {
	font-family: 'Indie Flower', cursive;
}

#addHere{
	text-align: center;
	background-image: url(../img/prayer.jpg)


}

h1{
	font-size: 55px;
	


}
#gogo{
	font-family: 'Indie Flower', cursive;
	font-size: 65px;
}
#username{
	margin-top: 3%;
	padding: 20px;
	border-radius: 2px;
	font-size: 30px;
}

#comment{
	margin-top: 2px;
	padding: 40px;
	border-radius: 3px;
	font-size: 30px;
}